[Unit]
Description=Auto DVR
After=network.target

[Service]
WorkingDirectory=/home/pi/
User=pi
ExecStart=/home/pi/uav/scripts/auto_dvr.py -o /home/pi/DVR
Restart=always

[Install]
WantedBy=default.target
