[Unit]
Description=hologram
After=network-online.target sys-subsystem-net-devices-ppp.device

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/sleep 60
ExecStart=/usr/local/bin/hologram network connect

[Install]
WantedBy=multi-user.target
