[Unit]
Description=hologram
After=network-online.target sys-subsystem-net-devices-ppp.device

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/python3 /home/pi/uav/scripts/hologram_connect.py

[Install]
WantedBy=multi-user.target
